@import './tailwind.css';
@import '../commons/common';

body {
  font-family: 'Courier Prime';
}

.board {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), #0a863e;
  height: 100vh;
}
