@import './tailwind.css';
@import './variables';
@import '../commons/common';
@import '../CardCounter/cardCounter';
@import '../DealButton/dealButton';

html,
body,
#root {
  font-family: 'Courier Prime';
  height: 100%;
  margin: 0;
}

.board {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), #0a863e;
  display: flow-root;
  height: 100%;
  margin: 0;
  overflow: auto;
  & > .winner {
    margin: auto;
    margin-top: -36px;
    &.hide {
      visibility: hidden;
    }
  }
  & > .card-box {
    display: flex;
    margin-top: 110px;
    justify-content: center;
  }
  & > .gameover {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    & > .text {
      font-size: 1rem;
      text-align: center;
      font-weight: 400;
      color: white;
      margin: auto;
    }
  }
}
