.deal-btn {
  background: $yellow;
  border-radius: 14px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Alfa Slab One;
  padding: 2px 48px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
