.card {
  background: white;
  width: 200px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 10px;
  & > .header {
    padding: 10px 20px;
    & > .number {
      font-weight: 700;
      font-size: 3.5rem;
    }
    & > .sm-icon {
      height: 30px;
    }
  }

  & > .lg-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 60px;
  }
}
