.counter-box {
  background: black;
  color: white;
  margin: auto;
  width: 180px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  & > .counter {
    font-size: 2rem;
    font-weight: 700;
  }
  & > .text {
  }
}
